/.phpcs-cache
/.phpunit.cache
/.psalm-cache
vendor/
config/development.config.php
data/cache/*
!data/cache/.gitkeep
phpunit.xml

# Migration
bin/migration/migration.config.php

# Uploads
public/uploads/*
!public/uploads/.gitkeep
